<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>LimeWire Remote: Backup</title>
    <%= javascript_include_tag 'jquery' -%>
    <%= javascript_include_tag 'jquery-periodic' -%>
    <%= javascript_include_tag @javascript_includes if @javascript_includes -%>
    <style type="text/css">
      #total_progress,
      #file_progress {
        height: 5px;
        width: 100%;
        background-color: #EEE;
        border: 1px solid #EEE;
      }
      #total_progress_indicator,
      #file_progress_indicator {
        height: 5px;
        width: 0%;
        background-color: #8CE;
      }

      BODY {
        background: url('/assets/live_search/images/background.png') top left repeat-x;
        background-color: #3e3e3e;
        color: #FFF;
        font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
      }

      #search {
        width: 50%;
        float: left;
        margin-top: 100px;
      }

      #query {
        background: url('/assets/live_search/images/searchbox-background.png') top left repeat-x;
        border: 0;
        font-size: 1.5em;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        width: 100%;
        padding: 1px 0 1px 0.2em;
      }

      #search_wrapper {
        position:relative;
        margin-right: 107px;
      }

      #submit {
        font-size: 1.5em;
        background-color: #666;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border: 0;
      }

      #submit_wrapper{
        float: right;
        width: 107px;
        text-align: right;
      }

      #search_form {
        margin: 0 auto;
        width: 95%;
      }

      ul#results,
      .tracks {
        padding: 0 2% 0 0;
        height: 27.5em;
        width: 96%;
        overflow-x: hidden;
        overflow-y: auto;
      }

      ul#results li,
      .tracks .track {
        list-style: none;
        font-size: 1.5em;
        line-height: 1.5em;
        padding: 0 5px 1px 5px;
        -moz-border-radius: 3px;
      }

      ul#results li.selected {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        background-color: orange;
        padding: 0 5px;
      }

      /* Playlists */
      #playlists {
        width: 50%;
        float: left;
        margin-top: 100px;
      }

      #playlists select#playlist_id {
        font-size: 1.5em;
        width: 98%;
      }
    </style>
    <%= stylesheet_link_tag '/assets/twopane/stylesheets/page-player.css' -%>

    <%= plugin_javascript_include 'soundmanager2' -%>
    <%= plugin_javascript_include 'page-player' -%>
  </head>
  <body>
      <img style="position: absolute; top:-62px; left: 50%; margin-left: -62px;" src="/assets/live_search/images/limewire.png">
      <%= yield -%>
  </body>
</html>
